<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Подземелье. Путь наверх</title>
    </head>
    <body>
        {% block content %}
            <div class="content">
                {% block app_content %}
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>


{% block scripts %}
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}