{% extends 'index.html' %}

{% block game %}
    <div class="game">
        <div class="legend">
            <p>
                Вы вчера хорошо покутили в замке барона Мюнхгаузена!
                Но теперь он куда-то пропал, а вы проснулись в винном погребе.
            </p>
            <p>
                Хорошо бы выбраться на свежий воздух... Вам нужно найти балкон!
            </p>
        </div>
        <div class="gameplay">
            <form action="" method="post">
                {% if form.field not in ('csrf_token', 'submit') %}
                    <p>{{ form.way.label }} {{ form.way }}</p>
                    <p>{{ form.steps.label }} {{ form.steps }}</p>
                {% endif %}
                <p>{{ form.submit }}</p>
            </form>
        </div>
            <div class="messages">
                {% if castle %}
                    {% if form.steps.data is not none %}
                        {% for positions in castle.walk(form.way.data, form.steps.data) %}
                            {% for position in positions %}
                                <div class="position">
                                    {{ position }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
    </div>
{% endblock %}