{% extends 'index.html' %}

{% block game %}
    <div class="game">
        <div class="legend game_block">
            <p>
                {{ Player.name }}, Вы вчера хорошо повеселились на балу в замке барона Мюнхгаузена!<br>
                Вчерашний бал удался, но утром Вы проснулись... в продуктовом погребе!<br>
                Снеди здесь не счесть, но Вам не до неё - здесь очень душно.
            </p>
            <p>
                Хорошо бы выбраться на свежий воздух...
            </p>
            <p>
                Вам нужно найти балкон!
            </p>
        </div>
        <div class="gameplay game_block">
            <form action="" method="post">
                {% if form.field not in ('csrf_token', 'submit') %}
                    <p>{{ form.way.label }}</p>
                    <div class="way">
                        <p>{{ form.way }}</p>
                    </div>
                    <p>{{ form.steps.label }}</p>
                    <p>{{ form.steps }}</p>
                {% endif %}
                <p>{{ form.submit }}</p>
            </form>
            {% for position in walk %}
                <div class="position">
                    {{ position }}
                </div>
            {% endfor %}
            {% if castle.pos() == castle.finish %}
                <div class="position">
                    <p>Барон: "{{ Player.name }}, мы рады Вас видеть! Хорошо, что Вы нашлись! <br>
                        Присоединяйтесь: у нас тут утка, с яблоками :-)"
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}