{% extends 'index.html' %}

{% block game %}
    <div class="game">
        <div class="legend" style="text-align: center;">
            <p>
                Вы вчера хорошо покутили в компании барона Мюнхгаузена!
                Но теперь он куда-то пропал, а вы проснулись в винном погребе.
            </p>
            <p>
                Хорошо бы выбраться на свежий воздух... Вам нужно найти балкон!
            </p>
        </div>
        <div class="gameplay" style="text-align: center;">
            <form action="" method="post">
                {% if form.field != ('csrf_token', 'submit') %}
                    <p>{{ way.label }} {{ way }}</p>
                    <p>{{ steps.label }} {{ steps }}</p>
                    <p>{{ form.submit }}</p>
                {% endif %}
            </form>
            {% if steps.data is not none %}
                {% for position in positions %}
                    <p>{{ position }}</p>
                    <p>{{ castle.floor, castle.room }}</p>
                    <p>{{ castle.pos() }}</p>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}