{% extends 'base.html' %}

{% block app_content %}
    {% block home %}
        <div class="home" style="text-align:center; margin-left:auto; margin-right:auto; color: darkcyan; margin-bottom: 30px; margin-top: 30px;">
            <a href="{{ url_for('index') }}" style="color: inherit">Домой!</a>
        </div>
    {% endblock %}
    {% block game %}
        <div style="position: relative; background-color: lightgray; margin-right: auto; margin-left: auto; text-align: center; height: 100px; width: auto; border-radius: 20px;">
            <p style="padding-top: 1rem;">Готовы отправиться к приключениям?</p>
            <div class="button" style="display: block; margin-top: 10px; ">
                <button class="btn btn-info">
                    <a href="{{ url_for('game') }}" style="color:whitesmoke; text-decoration: none;">Начать путешествие</a>
                </button>
            </div>
        </div>
    {% endblock %}
{% endblock %}