{% extends 'base.html' %}

{% block app_content %}
    {% block home %}
        <div class="home">
            <a href="{{ url_for('index') }}" style="color: inherit">Домой!</a>
        </div>
    {% endblock %}
    {% block game %}
        <div class="start game_play game_block">
            <p>Готовы отправиться к приключениям?</p>
            <form method="post" action="">
                <p>{{ form.name.label }} {{ form.name }}</p>
                <a href="{{ url_for('game', name=name) }}" style="color:black; text-decoration: none;">
                    <input type="submit" value="Начать путешествие!" id="begin">
                </a>
            </form>
        </div>
    {% endblock %}
{% endblock %}