.legend, .gameplay{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid orange;
    border-radius: 1em;
    padding: 10px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    background-color: lightblue;
    font-weight: 600;
    font-family:Comic Sans MS;
}

.gameplay {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: limegreen;
    border: 1px solid green;
    text-align: center;
    font-weight: 100;
}

.position {
    height: auto;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border:1px solid green;
    background-color:chartreuse;
    font-family: inherit;

}

.btn-info {
    background-color: orange;
}