.legend, .gameplay{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightseagreen;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    background-color: lightblue;
}

.gameplay {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: lightgreen;
    border: 1px solid seagreen;
    text-align: center;
}

.position {
    height: auto;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border:1px solid green;
    background-color:chartreuse;


}

.btn-info {
    background-color: orange;
}